<%= turbo_frame_tag unidade do %>
  <div class="row match-height">
  
    <div class="col-md-4 col-6">
      <strong><%= link_to unidade.nome, estabelecimento_unidade_url(@estabelecimento, unidade) %></strong>
    </div>
    <div class="col-md-8 col-6">
      <label><%= "#{unidade.equipes.size} Equipes" %></label>
    </div>
  </div>
  
<% end %>
<hr>
