<div class="col-md-6 col-12">

  <%= turbo_frame_tag unidade do %>

    <div class="card">
      <div class="card-body"> 
        <div class="row">
          <strong><%= link_to unidade.nome, estabelecimento_unidade_url(@estabelecimento, unidade) %></strong>
        </div>
        <div class="row">
          <label><%= "#{unidade.equipes.size} Equipes" %></label>
        </div>
      </div>
    </div>
  <% end %>
</div>

