      <div class='row'>
        <div class='col-1'>
          <%= turno_form.number_field :ordem, size: 2, class: "form-control", minlength:1, maxlength:1, readonly: true %>
        </div>
        <div class='col-3'>
          <%= turno_form.time_field :hora_inicio, size: 5, class: 'form-control' %>
        </div>
        <div class='col-3'>
          <%= turno_form.time_field :hora_fim, size: 5, class: 'form-control' %>
        </div>
      </div>
