<div class="card mb-3">

  <p style="color: green"><%= notice %></p>

  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0 card-title" data-anchor="data-anchor">Equipes</h5>
        <p class="text-subtitle text-muted">Mantém o cadastro das equipes que trabalham nas Unidades de Saúde.</p>
      </div>
      <div class="col-auto ms-auto">
        <%= link_to "Novo", new_equipe_path, data: { turbo_frame: "new_equipe" }, class: "btn btn-success me-1 mb-1" %>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "new_equipe", target: "_top" %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= render @equipes %>
        </div>
      </div>
    </div>
  </div>

</div>

