<%= turbo_frame_tag @equipe do %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body"><h2>Novo</h2>
          <%= render "form", equipe: @equipe %>
        </div>
      </div>
    </div>
  </div>
<% end %>