<h1>Localizacao#index</h1>
<p>Find me in app/views/localizacao/index.html.erb</p>

<h1>Verificar Localização</h1>
<p>Clique no botão abaixo para verificar sua localização:</p>
<button id="obter-localizacao">Obter Localização</button>
<p id="localizacao"></p>

<script>
  document.getElementById('obter-localizacao').addEventListener('click', () => {
    if ('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition((position) => {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        document.getElementById('localizacao').textContent = `Sua localização é: Latitude ${latitude}, Longitude ${longitude}`;
      }, (error) => {
        document.getElementById('localizacao').textContent = `Erro ao obter a localização: ${error.message}`;
      });
    } else {
      document.getElementById('localizacao').textContent = 'Geolocalização não suportada pelo navegador.';
    }
  });
</script>

