 <div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0 card-title" data-anchor="data-anchor"><%= User.model_name.human.pluralize%></h5>
      </div>
      <div class="col-auto ms-auto">
        <%= link_to "Novo", new_user_path, class: "btn btn-success me-1 mb-1" %> 
      </div>
    </div>
  </div>
  <div class="card-body bg-light">
    <div class="tab-content">
      <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-071d002a-db29-4ada-a16d-4ce90c710ff3" id="dom-071d002a-db29-4ada-a16d-4ce90c710ff3">
        <div id="div-lista-users">
          <%= render "lista"%>
        </div>            
      </div>      
    </div>
  </div>
</div>

