<div class="card mb-3">
  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0 card-title" data-anchor="data-anchor">Consulta Usuário</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-light">
    <div class="tab-content">
      <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-071d002a-db29-4ada-a16d-4ce90c710ff3" id="dom-071d002a-db29-4ada-a16d-4ce90c710ff3">
        <div id="div-lista-users">
          <%= render "show"%>
        </div>              
      </div>        
    </div>
    <!-- <div class="d-flex flex-row mt-3 mb-3"> -->
    <div class="col-12 d-flex">
      <%= link_to "Editar", edit_user_path(@user), class: "btn btn-primary me-1 mb-1" %>
      <%= link_to "Alterar Senha", '/users/edit', class: "btn btn-primary me-1 mb-1" %>
      <%= button_to "Excluir", @user, form: { data: { turbo_confirm: "Você tem certeza que deseja excluir?" } }, method: :delete,  class: "btn btn-danger me-1 mb-1" %>
    </div>
  </div>
</div>