<%= turbo_frame_tag membro do %>
  <div class="membro-card">
    <div class="row match-height">
      <div class="col-md-4 col-12"><b><%= membro.user.name %></b></div>
      <div class="col-md-4 col-12">
        <%= button_to "Excluir", equipe_membro_path(membro.equipe_id, membro), form: { data: { turbo_confirm: "Você tem certeza que deseja excluir?" } }, method: :delete,  class: "btn btn-danger me-1 mb-1" %>
      </div>
    </div>
  </div>
<% end %>