<%= turbo_frame_tag @membro do %>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= render "form", membro: @membro %>
        </div>
      </div>
    </div>
  </div>
<% end %>

