<div class="card mb-3">

  <p style="color: green"><%= notice %></p>

  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0 card-title" data-anchor="data-anchor">Conselhos de classe.</h5>
      </div>
      <div class="col-auto ms-auto">
        <%= link_to "Novo", new_conselhoclass_path, data: { turbo_frame: "new_conselhoclass" }, class: "btn btn-success me-1 mb-1" %>
      </div>
    </div>
  </div>
  
  <%= turbo_frame_tag "new_conselhoclass", target: "_top" %>
  <div class="card-body bg-light">
    <div class="row match-height">
      <%= render @conselhoclasses %>
    </div>
  </div>

</div>

