<%= link_to root_path, class: "d-flex flex-center mb-4" do %>
    <%= image_tag "img/icons/spot-illustrations/falcon.png", class: "me-2", width: 58%>
    <span class="font-sans-serif fw-bolder fs-5 d-inline-block"><%=Rails.application.class.module_parent_name %></span>
<% end %>