<% if "html" == request.format.symbol.to_s %>
    <div class="row flex-center min-vh-100 py-6 text-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
            <%= render "errors/link_welcome" %>
            <div class="card">
                <div class="card-body p-4 p-sm-5">
                <div class="fw-black lh-1 text-300 fs-error">404</div>
                <p class="lead mt-4 text-800 font-sans-serif fw-semi-bold w-md-75 w-xl-100 mx-auto">
                    A alteração que você tentou fazer foi rejeitada. Talvez você tenha tentado mudar algo sem ter acesso.</p>
                </p>
                <hr />
                <p>Se você for o dono da applicação, verifique os logs para mais informações.</p>
                <%= link_to root_path, class: "btn btn-primary btn-sm mt-3" do %>
                    <span class="fas fa-home me-2"></span>Voltar a página principal
                <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>