<div class="card mb-3">

  <p style="color: green"><%= notice %></p>

  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0 card-title" data-anchor="data-anchor">Estabelecimento de Saúde</h5>
      </div>
    </div>
  </div>

  <div class="card-body bg-light">
    <div class="tab-content">
      <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-071d002a-db29-4ada-a16d-4ce90c710ff3" id="dom-071d002a-db29-4ada-a16d-4ce90c710ff3">
        <div id="div-lista-estabelecimentos">
          <%= render @estabelecimento %>
        </div>              
      </div>        
    </div>
  </div>
</div>

