<div class="col-4">
    <a class="d-block hover-bg-200 px-2 py-3 rounded-3 text-center text-decoration-none" href="<%= edit_user_path(current_user)%>"
        target="_blank">
        <div class="avatar avatar-2xl">
            <%= image_tag "img/team/avatar.png" , class: "rounded-circle" %>
        </div>
        <p class="mb-0 fw-medium text-800 text-truncate fs--2">Conta</p>
    </a>
</div>