<li class="nav-configuracoes">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
        <div class="col-auto navbar-vertical-label">Configurações
        </div>
        <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
        </div>
    </div>
    <!-- parent pages-->

    <%= link_to users_path, class: "nav-link", role: "button" do %>
        <div class="d-flex align-items-center">
            <span class="nav-link-icon">
                <span class="fas fa-user">
                </span>
            </span>
            <span class="nav-link-text ps-1" title="Cadastro dos usuários do sistema">Usuários</span>
        </div>
    <% end %>

    <%= link_to estabelecimentos_path, class: "nav-link", role: "button" do %>
        <div class="d-flex align-items-center">
            <span class="nav-link-icon">
                <span class="fas fa-user">
                </span>
            </span>
            <span class="nav-link-text ps-1" title="Cadastro dos estabelecimentos">Estabelecimentos</span>
        </div>
    <% end %>

    <%= link_to conselhoclasses_path, class: "nav-link", role: "button" do %>
        <div class="d-flex align-items-center">
            <span class="nav-link-icon">
                <span class="fas fa-user">
                </span>
            </span>
            <span class="nav-link-text ps-1" title="Cadastro dos conselhos de classes">Conselhos</span>
        </div>
    <% end %>

    <%= link_to equipes_path, class: "nav-link", role: "button" do %>
        <div class="d-flex align-items-center">
            <span class="nav-link-icon">
                <span class="fas fa-user">
                </span>
            </span>
            <span class="nav-link-text ps-1" title="Escalas de trabalho">Equipes</span>
        </div>
    <% end %>

</li>