<li class="nav-item">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
        <div class="col-auto navbar-vertical-label">Menu
        </div>
        <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
        </div>
    </div>
    <!-- parent pages-->

    <%= link_to escalacmpts_path, class: "nav-link", role: "button" do %>
        <div class="d-flex align-items-center">
            <span class="nav-link-icon">
                <span class="fas fa-calendar-alt">
                </span>
            </span>
            <span class="nav-link-text ps-1" title="Escalas de trabalho">Escalas</span>
        </div>
    <% end %>

</li>