<div class="list-group-item">
    <a class="border-bottom-0 notification-unread  notification notification-flush" href="#!">
        <div class="notification-avatar">
            <div class="avatar avatar-xl me-3">
                <%= image_tag "img/logos/oxford.png", class: "rounded-circle"%>
            </div>
        </div>
        <div class="notification-body">
            <p class="mb-1"><strong>EX de notificação</strong> Isso é </p>
            <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">✌️</span>1w</span>

        </div>
    </a>
</div>