<footer class="footer">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600"> 2023 © Inovadora Sistemas. Todos os direitos reservados.</p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Versão: 0.0.1</p>
        </div>
    </div>
</footer>